node_modules/
yarn-error.log
npm-debug.log

dist/
build/
lib/
storage/*

!storage/http/
!storage/memory/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local
.env.prod

coverage/
.nyc_output/

tmp/
temp/
*.log
/logs
.cache/
.cursor/
design-docs/
scrapeless-actor-sdk-node/
examples/*.png
scrapeless-demo-*.json
